
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<style> 
  h2{text-align: center}
</style>




  <div class = "col-md-4 col-md-offset-4" id = "app">
  <div class ="jumbotron" >
    <h2 >
    steam计算器
    </h2>


  <form class="form-inline" action="/calculator" method = "POST">
  <div class="form-group" >

    <input type="text" name = "userid" class="form-control" placeholder="Enter your Steam ID" aria-describedby="basic-addon1" v-model = "userid" >
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" >Go!</button>
    </span>

  </div>
  </form>
  
  {%raw%}
  <p>
    Your id is: {{userid}}
  </p>
  {%endraw%}
  <p>
    {{steam_id_url}}
  </p>
  <p>
    {{steam_id}}
  </p>
  </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script src="/static/js/calculator.js"></script>