{% extends "base.html" %}

{% block style %}
<style> 
  h2{text-align: center}

  header {
    text-align: center;
    color: #000;
    background: #fff;
}
</style>
{% endblock %}


{% block body %}
  <header>
  <div class="container">
  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
    
      <h2 >
      steam土豪计算器
      </h2>


    <form class="form-inline" action="/calculator" method = "POST">
    <div class="form-group" >
      <div class="input-group">
      <input type="text" name = "userid" class="form-control" placeholder="Enter your Steam ID" aria-describedby="basic-addon1" v-model = "userid" >
      <span class="input-group-btn">
      <button class="btn btn-default" type="submit" >Go!</button>
      </span>
      </div>
    </div>
    </form>
    

    </div>
    </div>
  </div>
  </header>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script src="/static/js/calculator.js"></script>
{% endblock %}